#TA_selfserveprop895.TA_selfserveprop
  %ul#6dWl3LmnVARw.TA_links.OoJ2t91Ks32F
    %li#0cFMOyy.N0WeFJRXTBS
      %a{href: "http://www.tripadvisor.co.uk/", target: "_blank"}
        %img{alt: "TripAdvisor", src: "http://www.tripadvisor.co.uk/img/cdsi/img2/branding/150_logo-11900-2.png"}

  %script{src: "http://www.jscache.com/wejs?wtype=selfserveprop&uniq=895&locationId=3544572&lang=en_UK&rating=true&nreviews=5&writereviewlink=true&popIdx=true&iswide=false&border=true"}
