%ul.side-nav
  - %w(food drinks catalogue).each do |component|
    - if eval("current_tenant.#{component} == '1'")
      %li
        != link_to make_title(component), choices_path(choices: component), :remote => true, :class => "button radius"
  - if current_tenant.cart == '1' # && !current_user.id.blank?
    %li
      != link_to "Wish List", carts_path(), :remote => true, :class => "button radius no_ajaxify"
