- unless current_user.id.blank?
  - unless params[:monitor].present?
    %li
      != link_to "Profile", edit_user_path(current_user.id) #, :class => "button radius"
  - if allow? :meals, :index
    %li#admin
      != link_to 'Monitor', meals_path(monitor: true), class: 'no_ajaxify' #, remote: 'true'

  %li
    - monitor = params[:monitor].present? ?  true : false
    != link_to "Log Out", logout_path(monitor: monitor), :method => :delete, :class => "no_ajaxify"
- else
  -#%li
  -#  != link_to "Register", signup_path, :class => "button radius"
  %li
    != link_to "Log In", login_path() #, :class => "button radius"
