%p#contact
  %span.phone
    != current_tenant.phone
  %span.email
  %br
  %span.location
    != link_to current_tenant.address, page_path('find_us', code:true)
  -#%span.large-3.columns.show-for-small-up
  -#  != request.remote_addr
  -#  != request.remote_addr == '92.29.168.164'
:coffeescript
  jQuery ->
    $( "span.email").html('<a href="mailto: #{current_tenant.email} %>?subject=Contact from #{current_tenant.hostname.capitalize}">Email Booking & Enquiry</a>')