- @categories ||= set_categories(current_tenant.default_category)
%ul.inline-list
  - @categories.order(:rank, :name).each do |category|
    %li
      - params = category.name
      - params += "?meal_id=#{@meal.id}" if @meal
      - params += "?cart_id=#{@cart.id}" if @cart
      -# params += "?order_id=#{@order.id}" if @order
      = link_to category.nice_name.pluralize, choice_path(params)
:coffeescript
  jQuery ->
    $('div#menu li').on 'click', (event) ->
      $('div#menu li').removeClass 'active'
      $(this).addClass('active')