- @categories ||= set_categories(current_tenant.default_category)
%ul.inline-list
  - categories = @categories.order(:rank, :name)
  - categories = categories.where("notes <> 'hide'") unless (allow? :categories, :edit)
  - categories.each do |category|
    %li
      -# params = category.name
      - if @meal
        = link_to category.nice_name.pluralize, choice_path( category.name, meal_id: @meal.id )
      - elsif @cart
        = link_to category.nice_name.pluralize, choice_path( category.name, meal_id: @meal.id )
      - else
        = link_to category.nice_name.pluralize, choice_path( category.name )
:coffeescript
  jQuery ->
    $('div#menu li').on 'click', (event) ->
      $('div#menu li').removeClass 'active'
      $(this).addClass('active')