%h5 = @recipes.first.item.name
%table
  %thead
    %tr
      %th Ingredient
      %th Amount
      %th
      %th

  %tbody
    - @recipes.each do |recipe|
      %tr
        %td= link_to  recipe.ingredient_id, edit_recipe_path(recipe)
        %td= recipe.amount_id
        %td= link_to 'x', recipe, :method => :delete, :data => { :confirm => 'Are you sure?' }
