-#%li.request
- case opening
- when 'open'
  - open = 'Lunch/Dinner'
- else
  - open = opening.capitalize
= link_to "Book #{open}", new_booking_path(date: date.to_s, opening: opening), class: "no_ajaxify #{opening}", remote: true
