%h1 Listing users

%table
  %tr
    %th Email
    %th Username
    %th
    %th
    %th
    %th Roles
    %th

  = render @users

%p
  - if allow? :roles, :update
    = button_to 'Roles', roles_path, method: :get

  - if allow? :users, :carts
    = button_to 'New User', new_user_path, method: :get
