- i = 0
- item.variants.where(domain: current_tenant.domain).each do |variant|
  -#- if i == 3
  -#  - i = 0
  -#  .row.return.catalogue_variant
  = render :partial => "choices/#{current_tenant.domain}/variant", locals: {variant: variant}
  - i += 1