- item.variants.where(domain: current_tenant.domain).order('item_default DESC, rank, name').each do |variant|
  = render :partial => "choices/#{current_tenant.domain}/variant", locals: {variant: variant}