%ul.menu-item.small-block-grid-1.medium-block-grid-3.large-block-grid-4
  = render :partial => "choices/#{current_tenant.domain}/item", collection: subcat.items.order('rank, price_cents, name')
:coffeescript
  jQuery ->
    $('a.gallery').colorbox(
     {
       current: ""
       rel: 'nofollow'
       closeButton: true
     }
    )
