%p.contact
  %span.email
  %span.location
    != current_tenant.address
  %span.phone
    != current_tenant.phone
  %span.privacy
    Privacy Notice
:coffeescript
  jQuery ->
    $( "span.email").html('<a href="mailto: #{current_tenant.email} %>?subject=Contact from #{current_tenant.hostname.capitalize}">Email Us</a>')
