%ul.menu-item.small-block-grid-1.medium-block-grid-2.large-block-grid-2
  - list_items = subcat.items.order(:rank, :price_cents)
  - list_items = list_items.where(withdrawn: false) unless allow? :items, :edit
  = render :partial => "choices/#{current_tenant.domain}/item", collection: list_items
