- unless @page
  .row
    .large-12.columns
      %h2
        Sorry, Page not Found
- else
  - markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, :autolink => true, :space_after_headers => true)
  %p#catalogue
    %span.title
      != markdown(@page.title)
    %span.body
      != markdown(@page.body)
