#search
  .row.collapse
    .small-10.columns
      %input{placeholder: "Cart ID", type: "text"}/
    .small-2.columns
      %a.button.postfix{href: "#", title: 'Find Cart'} Go
:coffeescript
  jQuery ->
    $('div#search a.button').on "click", (event) ->
      $.get
      $id = $(this).parent().siblings().find('input').val().replace(/\D/g,'')
      if $.isNumeric($id)
        $.get( '/carts?cart_id=' + $id )
      else
        alert 'ID Required'
      event.preventDefault()
