- orders = Order.where(state: 'incomplete').order('updated_at DESC')
- paid_orders = Order.where('state = ? and updated_at > ?', 'complete', (Time.now - 1.day)).order('updated_at DESC')

- unless orders.empty?
  %ul#current.aside.no-print
    %li.title
      %span
        Current Bills
    = render :partial => "orders/#{current_tenant.domain}/current_order", collection: orders
- unless paid_orders.empty?
  %ul#completed.aside.no-print
    %li.title
      %span
        Paid Bills
    = render :partial => "orders/#{current_tenant.domain}/current_order", collection: paid_orders
