#editor
#display
- unless @orders.empty?
  %ul#completed.aside.no-print
    %li.title
      %span
        Orders
    - @orders = @orders.order('id ASC')
    = render :partial => "orders/#{current_tenant.domain}/current_order", collection: @orders.where(state: 'complete')