- @meals = Meal.where("seating_id IS NULL AND state IN ('confirmed')").order('takeaway_date, start_time')
- unless @meals.empty?
  %ul.aside.no-print
    %li.title
      %span
        Takeaway Booked
    - @meals.each do |meal|
      = render 'meals/meal', meal: meal
