- @meals = Meal.where("seating_id IS NULL AND state IN ('ready','collected')").order('start_time')
- unless @meals.empty?
  %ul.aside.no-print
    %li.title
      %span
        Takeaway Ready
    - @meals.each do |meal|
      = render 'meals/meal', meal: meal
