- @meals = Meal.where("seating_id IS NULL AND state IN ('confirmed','ordered')").order('updated_at')
- unless @meals.empty?
  %ul.aside.no-print
    %li.title
      %span
        Takeaway Confirmed
    - @meals.each do |meal|
      = render 'meals/meal', meal: meal
