#sidecast
  %p#catalogue
    %span.title
      != @broadcast.title
    %span.body
      != truncate(@broadcast.body, length: 200, separator: ' ', omission: '... ')
  - if @broadcast.blog
    %p
      = link_to 'more ...', broadcast_path(@broadcast)