.allocations
  .field.small-3.columns
    = label_tag :net
    = text_field_tag :net, nil, class: 'allocation'
  .field.small-3.columns.left
    = label_tag :vat
    = text_field_tag :vat, nil, class: 'allocation'




