$theme: #3d5c2c;
$theme-secret: darken(mediumpurple, 15%);
$theme-gigiri: darken(royalblue, 15%);
//#006600;//darkslategray;//#008cba;
$alt: #3d5c2c;
$link: #009900;
$link-secret: darken(mediumpurple, 5%);
$link-gigiri: darken(royalblue, 5%);

$head-border: #009900;
//$theme: #008cba;

@media screen, print {
  a {
    //    font-weight: bold;
    color: $link;
  }
  .center {
    text-align: center;
  }
  nav.top-bar {
    padding: 0;
    margin-bottom: 0.2em;
  }
  h1 {
    font-size: 1.5em;
  }
  .item section {
    margin-left: 0;
  }
  li {
    list-style-type: none;
  }
  td.number, th.number {
    text-align: right;
  }
  td.center, th.center {
    text-align: center;
  }
  a {
    color: $link
  }
  a.button {
    background-color: $link;
  }
  span.box {
    border: 1px solid gray;
    margin: 0.2em;
    padding: 0.2em;
    &.head {
      border-color: red;
    }
  }
  body {
    fieldset.no-pad {
      padding: 0;
    }
    &.secret {
      a.button {
        background-color: $link-secret;
      }
      h1 {
        background-color: $theme-secret;
      }
    }
    &.gigiri {
      a.button {
        background-color: $link-gigiri;
      }
      h1 {
        background-color: $theme-gigiri;
      }
    }
    &#daily_editor {
      font-size: 0.8rem;
      fieldset {
        padding: 0;
        border: none;
        input {
          margin: 0;
        }
        .headings {
          padding-right: 0;
        }
      }
    }
    &#monitor {
      //      padding: 2em;
      .row {
        max-width: inherit;
      }
      div.columns.no_padding {
        padding: 0;
      }
      div#messages {
        border: 1px solid gray;
        margin: 0.2em;
        padding: 0.2em;
        form {
          .row {
            margin-left: 0;
          }
        }
        input {
          margin: 0;
          margin-bottom: 0.2em;
          padding: 0.2em;
          height: 1.8em;
        }
        ul#chat {
          margin-left: 1em;
          margin-bottom: 0;
          padding-left: 0;
          li {
            font-size: 0.9em;
            span {
              &.starter, &.main, &.dessert {
                font-weight: bold;
              }
            }
            span.starter {
              color: green;
            }
            span.main {
              color: green;
            }
            span.dessert {
              color: purple;
            }
            span.ready {
              font-weight: bold;
              color: red;
            }
            span.served {

            }
            span.cancel {
              font-weight: bold;
              color: purple;
            }
          }
        }
      }
      form.inline {
        display: inline;
        div {
          display: inline;
        }
      }
      ul.tabel {
        //        width: inherit;
        margin: 0;
        background-color: #e0eeee;
        border: 1px solid darkslategray;
        &.first {
          border: 2px solid green;
        }
        li {
          list-style-type: none;
          padding: .2em 0 .2em .2em;
          font-size: 0.8em;
          span {
            &.title {
              clear: both;
            }
          }
          &:nth-child(even) {
            background: lightgrey;
          }
          &.category {
            line-height: 1.9em;
            font-weight: bold;
          }
          &.info {
            background-color: lightyellow;
            font-style: italic;
          }
          &.ready {
            &.category {
              color: white;
              background-color: red;
              span {
                font-weight: bold;
              }
            }
          }
          &.served {
            background-color: #d3d3d3;
            font-style: italic;
          }
          &.active {
            span {
              &.title {
                font-weight: bold;
              }
            }
            &:nth-child(even) {
              background: #d3d3d3;
            }
            &.category {
              color: white;
              background-color: green;
              span {
                font-weight: bold;
              }
            }
          }
        }
        h1 {
          font-size: 2em;
        }
        h6 {
          font-size: 0.9rem;
        }
        form, div, li.inline {
          display: inline;
        }
        p {
          font-size: 0.8em;
        }
      }
      span {
        &.head {
          font-weight: bold;
        }
      }
    }
  }
  table#financial {

    td {
      font-size: 0.8em;
      line-height: 1em;
      padding: 0;
      padding-bottom: 0.6em;
      padding-right: 0.5em;
    }
  }
  td.larger {
    font-size: 0.95em;
  }
  div#flash {
    margin: 0.5em;
    margin-bottom: 1em;
    margin-right: 1em;
    padding: 0.2em;
    color: orangered;
    border: 1px dotted orangered; // solid gray;
    a {
      font-size: 1.1rem;
      font-weight: bold;
    }
    p {
      margin-left: 1em;
      margin-bottom: 0;
      text-align: center;
    }
  }
  p#catalogue {
    span {
      &.title {
        font-weight: bold;
      }
      &.body {
        font-size: 0.9em;
      }
    }
  }
  div#summary {
    border: 1px solid gray;

    padding: 0.2em;
    div.row {
      font-size: 0.8em;
      padding: 0.2em 0 0.2em 0;
      .number {
        text-align: right;
      }
      .title {
        font-weight: bold;
        text-align: center;
      }
      .id {
        font-weight: bold;
        text-align: center;
        color: darkslategray;
      }
      .sub {
        color: purple;
      }
      .head {
        text-align: center;
        font-weight: bold;
      }
      .off {
        //        font-style: oblique;
        color: gray;
      }

    }
  }
  li {
    .sub {
      color: purple;
    }
    .head {
      text-align: center;
      font-weight: bold;
    }
  }
  ul.blog {
    margin-left: 0;
    h1 {
      background-color: $theme;
      color: white;
      font-size: 1.3em;
      padding-left: 0.5em;
      margin-bottom: 0.2em;
      a {
        color: yellow;
        &:hover {
          color: orange;
        }
      }
    }
    p {
      font-size: 0.85em;
      line-height: 1.5em;
      text-align: justify;
      //      orphans: 2;
      //      widows: 3;
      margin-bottom: 0.2em;
      &.center {
        text-align: center;
      }
    }
    td {
      border-top: 1px solid gray;
    }
    li {
      -webkit-column-break-inside: avoid;
      -moz-column-break-inside: avoid;
      column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid-column;
    }
  }
  span.date {
    font-size: 0.9em;
    color: darkslategray;
    &.event {
      font-weight: bold;
    }
  }
  h1 span.date {
    color: yellow;
  }
  p.right {
    text-align: right;
  }

  span.time {
    font-size: 0.8em;
    color: darkslategray;
    &.event {
      font-weight: bold;
    }
  }
  #test2, #test3 {
    &.red {
      background-color: lighten(red, 20%);
    }
    &.blue {
      background-color: blue;
    }
  }
  aside#sidebar {
    padding-left: 0.1em;
    padding-right: 0.1em;
    h1 {
      font-size: 1.1em;
      font-weight: bold;
      //background-color: #d3d3d3;
      padding: 0.2em;
      //      border: 1px solid $head-border;
    }
    h2 {
      //      border: 1px solid $head-border;
    }
    fieldset {
      margin: 0;
      padding: 0.2em;
      background-color: #e0eeee;
      border: 1px solid darkgray;
    }
  }

  div#solus, div#current, div#offers, div#sidecast {
    border: 1px solid darkgray;
    background-color: palegreen; //#e0eeee; //#d3d3d3;
    padding: 0.15em 0.25em 0 0.25em;
    margin-bottom: 0.5em;
    h1 {
      font-weight: bold;
      font-size: 1.0em;
      text-align: left;
      margin-bottom: 0;
      margin-top: 0;
    }
    h3 {
      font-size: 0.8em;
    }
    p {
      font-size: 0.75em;
      line-height: 1.1rem;
      padding: 0.2em;
      text-align: justify;
      margin-bottom: 0;
      em {
        color: $theme;
      }
    }
    img {
      margin-bottom: 0.5em;
      border: solid 1px #333;
    }
    &.red {
      background-color: palegoldenrod;
      border-color: lighten(red, 15%);
      h1, span.highlight {
        //background-color: white;
        color: lighten(red, 5%);
      }
      em {
        color: lighten(red, 5%);
      }
    }
    &.purple {
      background-color: #CCCCFF;
      border-color: mediumpurple;
      h1, span.highlight {
        color: darken(mediumpurple, 15%);
      }
      em {
        color: darken(mediumpurple, 15%);
      }
    }
    &.green {
      background-color: palegreen;
      border-color: darkgreen;
      h1, span.highlight {
        //background-color: white;
        color: darkgreen;
      }
      em {
        color: darken(darkgreen, 5%);
      }
    }
    &.darkslategray {
      background-color: #d0d0d0;
      //border-color: darkgreen;
      h1, span.highlight {
        //background-color: white;
        color: darkslategray;
      }
    }
    &.theme {
      //border-color: darkgreen;
      h1, span.highlight {
        //background-color: white;
        color: $theme;
      }
    }

  }
  div#offers {
    h1, span.highlight {
      background-color: white;
      color: $alt;
    }
  }

  div#sidecast {
    background-color: palegoldenrod;
  }
  body {
    article {
      p, li {
        //        orphans: 2;
        //        widows: 2;
        font-size: 0.85em;
        text-align: justify;
        line-height: 1.3rem;
        margin-bottom: 0.8em;
      }
      h1 {
        font-size: 1.5rem;
        padding: 0.3em 0em 0.1em 0em;
        background-color: white; /* ##008cba */
        border-top: solid 1px darkgray;
        color: $theme;
        margin-top: 0.3em;
        margin-bottom: 0;
        //        border-top: 3px solid $head-border;
      }
      h2 {
        border-top: solid 1px darkgray;
      }
      h6, h2 {
        font-size: 1.1em;
        color: $theme;
        margin-bottom: 0.2em;
      }
      img {
        margin-bottom: 0.5em;
        border: 1px solid darkgray;
        //        max-height:
      }
    }
    table {
      border: none;
      width: 100%;
      &.border {
        border: solid 1px $theme;
        background-color: #FFFCB2;
        tr {
          border: none;
          td {
            border: none;
          }
        }
        &.highlight {
          border-color: red;
        }
      }
    }
  }

  .double div.two-column {
    column-count: 2;
    column-gap: 20px;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    li {
      orphans: 3;
      widows: 3;
    }
  }
  footer {
    border: 1px solid darkgray;
    background-color: #e0eeee; //d3d3d3;
    padding: 0.25em;
    margin-bottom: 0.5em;
    text-align: center;
    p {
      font-size: 0.7em;
      color: darkslategrey;
    }
  }
  div#content {
    margin-bottom: 0.5em;
    margin-top: 0.2em;
  }
  div#menu {
    ul.inline-list {
      margin-bottom: 0;
    }
    li {
      a {
        padding-left: 0.25em;
        padding-right: 0.25em;
        margin-right: -0.25em;
        //        margin-bottom: 0.1em;
        // background-color: #e0eeee; //#d3d3d3;
        color: $link;
        border-top: 1px solid darkgray;
        font-size: 0.9rem;
        font-weight: bold;
        //      border-bottom: 1px solid darkgray;
      }
      &:hover {
        a {
          background-color: #e0eeee; //palegreen;
        }
      }
      &.active {
        a {
          background-color: $link;
          color: white;
        }
      }
    }
  }
  body {
    &.secret {
      ul.blog {
        h1 {
          background-color: darken($theme-secret, 0%);
        }
      }
      ul#catalogue li p.header {
        background-color: lighten($theme-secret, 40%);
      }
      div#menu {
        li {
          background-color: #e0eeee; //#d3d3d3;
          color: $link-secret;
          a {
            color: $link-secret;
            //          background-color: lighten($link-secret, 20%);
          }
          &:hover {
            a {
              background-color: lighten($link-secret, 30%);
            }
          }
          &.active {
            a {
              color: white;
              background-color: $link-secret;
            }
          }
        }
      }
    }
    &.gigiri {
      ul#catalogue li p.header {
        background-color: lighten($theme-gigiri, 40%);
      }
      ul.blog {
        h1 {
          background-color: darken($theme-gigiri, 0%);
        }
      }
      div#menu {
        li {
          background-color: #e0eeee; //#d3d3d3;
          color: $link-gigiri;
          a {
            color: $link-gigiri;
            //          background-color: lighten($link-secret, 20%);
          }
          &:hover {
            a {
              background-color: lighten($link-gigiri, 30%);
            }
          }
          &.active {
            a {
              color: white;
              background-color: $link-gigiri;
            }
          }
        }
      }
    }
  }
  label {
    &.available {
      color: green;
    }
    &.booked {
      color: red;
    }
  }
  ul#order, ul#order-pad {
    form {
      .columns {
        padding: 0;
      }
      .row {
        margin: 0;
      }
      label {
        margin: 0;
        &.third {
          display: inline;
        }
        //      padding:0;
      }
      input {
        margin: 0;
        margin-bottom: 0.3rem;
        width: 100%;
        &.semi {
          width: 47%;
          margin-left: 0.1em;
        }
        &.third {
          width: 35%;
          display: inline;
          text-align: right;
        }
        height: 2rem;
        //      padding:0;
      }
    }
    table {
      margin-bottom: 0.2em;
      font-size: 0.9em;
      width: 95%;
      td {
        padding: 0;
      }
    }
  }
  input {
    &.wide {
      width: 98%;
      text-align: center;
    }
    &.semi {
      width: 47%;
    }
    font-weight: bold;
  }
  div.store-variant {
    input {
      &.wide {
        text-align: center;
      }
    }
  }
  span.bold {
    font-weight: bold;
  }
  ul#catalogue {
    li {
      margin-left: -0.5em;
      span.title {
        font-weight: bold;
      }
      span.notes {
        color: darkslategray;
        font-size: 0.9em;
      }

      div.store-variant {
        margin-top: 0em;
        margin-left: 0em;
        display: block;
        float: left;
        form, div {
          display: inline;
        }
        border: 1px solid white;
        width: 100%;
        img {
          margin: 0 auto;
          display: block;
          border: 1px solid #666;
          max-height: 19.5em;
        }
        input.wide {
          text-align: center;
          width: 100%;
        }
      }
      p {
        padding: 0.2em;
        &.header {
          background-color: palegreen;
        }
        &.item-header {
          background-color: paleturquoise;
        }
      }
      p.center {
        margin: 0;
        padding-bottom: 0;
      }

    }
    ul.menu-item {
      margin-left: 0;
      li.choice {
        white-space: nowrap;
      }

    }
  }
  ul.menu-item {
    input {
      background-color: paleturquoise;
      &.store {
        background-color: lightgray;
      }
    }
  }
  ul#cart, ul#meal, ul#order, ul#order-pad, ul.menu-item, ul.aside, ul.takeaway {
    font-size: 0.8em;
    clear: both;
    li.title {
      span {
        //      background-color: #d3d3d3;
        font-weight: bold;
        font-size: 1.1em;
        color: darkslategray;
        padding-left: 0.2em;
      }
    }
    h1 {
      font-size: 2em;
    }
    h6 {
      font-size: 0.9rem;
    }
    form, div, li.inline {
      display: inline;
    }
    p {
      font-size: 0.8em;
    }
  }
  ul.side-nav {
    li {
      a {
        width: 100%;
      }
    }
  }
  ul#cart, ul#meal, ul#order, ul#order-pad, ul.aside {
    background-color: #e0eeee;
    border: 1px solid darkslategray;
    li {
      padding: .2em 0 .2em .2em;
      width: 100%;
      span.title {
        font-weight: bold;
      }
      //border: 1px solid #c0c0c0;
    }
    li:nth-child(even) {
      background: #d3d3d3;
    }
    li.category {
      background-color: lightgreen;
      span {
        //      font-size: 1.1em;
        font-weight: bold;
      }
    }
  }
  ul.ui-autocomplete {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    border: solid 1px #999;
    cursor: default;
    li {
      background-color: #FFF;
      border-top: solid 1px #DDD;
      margin: 0;
      padding: 0;
      a {
        color: #000;
        display: block;
        padding: 3px;
      }
      a.ui-state-hover, a.ui-state-active {
        background-color: #FFFCB2;
      }
    }
  }
  .hidden {
    display: none
  }
  //div#tabs {
  //  li.category-tab {
  //    font-size: 0.8em;
  //  }
  //}
  //
  div.store-category.ui-tabs-panel {
    padding: 0.3em;
    .test {
      clear: both;
    }
  }

  div#side_menu {
    h1 {
      font-size: 1.2em;
      margin-bottom: 0em;
    }
  }

  //.tabs.choices {
  //  margin-right: 0.5rem;
  //  dd > a {
  //    padding-top: 0.5rem;
  //    padding-right: 1rem;
  //    padding-bottom: 0.5rem;
  //    padding-left: 1rem;
  //  }
  //  &.food {
  //    dd {
  //      &:hover {
  //        a {
  //          background-color: greenyellow;
  //        }
  //      }
  //      &.active {
  //        a {
  //          background-color: yellow;
  //        }
  //      }
  //    }
  //  }
  //  &.drinks {
  //    dd > a {
  //      background-color: cornflowerblue;
  //    }
  //  }
  //  &.catalogue {
  //    dd > a {
  //      background-color: mediumpurple;
  //    }
  //  }
  //}

  div.catalogue_variant {
    margin-left: 100px;
    margin-top: 0.5em;
    margin-bottom: 0.8em;
    form, div {
      display: inline;
    }
  }
  form[method=get], form.inline {
    display: inline;
    div {
      display: inline;
    }
  }

  button.image, .button.image {
    padding: 0;
    border: none;
    margin: 0;
  }
  section#main {
    padding-top: 0.5em;
  }
  div#navigation img {
    margin-top: 0.2em;
  }
  ul#status li {
    font-size: 0.8em;
  }
  ul#contact {
    margin-left: 0;
    li {
      text-align: left;
      margin-bottom: 0;
      &.phone {
        font-weight: bold;
        font-size: 1.1em;
        color: darkred;
      }
      &.location {
        font-size: 0.9em;
      }
    }
  }
  %ul#main-nav {
    z-index: 10;
    li#admin {
      margin-top: 0.4em;
    }
  }
  div#contact {
    border: 1px solid darkgray;
    background-color: #e0eeee; // #d3d3d3;
    padding: 0.1em;
    //  margin-top: 0.2em;
    margin-bottom: 0.2em;
    //  margin-left: -2em;
    //  margin-right: 2em;
  }
  p#contact {
    text-align: center;
    margin-bottom: 0;
    .columns {
      padding-left: 0;
    }
    span {
      text-align: left;
      margin-bottom: 0;
      &.phone {
        // padding-left: 0.4em;
        font-weight: bold;
        font-size: 1em;
        color: darkred;
      }
      &.location {
        font-size: 0.8em;
        padding-top: 0.2em;
      }
      //    &.email {
      //      font-size: 0.9em;
      //      padding-top: 0.2em;
      //    }
    }
  }
  ul#main-nav {
    margin-top: 0.3em;
  }
  div.calendar {
    margin-left: 1em;
    margin-right: 1.25em;
    select {
      width: 10em;
      direction: rtl;
      //    option {
      //      font-size: 0.8em;
      //    }
    }
    li {
      &.request {
        border-top: 1px solid darkgray;
        border-bottom: 1px solid darkgray;
        background-color: #e0eeee;
      }
      &.event {
        border-top: 1px solid darkgray;
        border-bottom: 1px solid darkgray;
        background-color: palegoldenrod;
      }
    }
  }
  div#editor {
    margin-bottom: 0.5em;
  }
  div#thanks {
    font-size: 0.9em;
    margin: 0.1em;
    padding: 0.5em;
    background-color: palegoldenrod;
    border: 1px solid darkgray;
    p {
      font-size: 0.9rem;
    }
    span.title {
      font-weight: bold;
    }
  }
  div#invoice {
    #print-header {
      text-align: center;
      p {
        font-size: 0.85em;
      }
      h1 {
        font-size: 2em;
      }
    }
    tr {
      td {
        font-size: 0.95em;
      }
      text-align: left;
      &.category {
        font-weight: bold;
      }
      &.total {
        td {
          font-size: 1.1em;
        }
        font-weight: bold;
      }
      &.message {
        td {
          font-size: 1em;
        }
      }
    }
  }
}

body.artwork {
  article.painting, article.welcome div.two-column {
    p {
      text-align: center;
    }
  }
}

article.welcome ul.inline-list li {
  &.title {
    text-align: center;
    font-weight: bold;
  }
}
#daily_editor {
  font-size: 0.8rem;
  fieldset {
    padding: 0;
    border: none;
    input {
      margin: 0;
    }
  }
  .headings {
    padding-right: 0;
    font-weight: bold;
    text-align: right;
    div {
      padding-right: 0;
      &.lefty {
        text-align: left;
      }
    }
  }
  .field {
    padding-right: 0;
    text-align: right;
  }
}
