h1 {
  font-size: 1.5em;
}
.item section {
  margin-left: 0;
}
li {
  list-style-type: none;
}
td.number, th.number {
  text-align: right;
}
td.center, th.center {
  text-align: center;
}
p#catalogue {
  span {
    &.title {
      font-weight: bold;
    }
    &.body {
      font-size: 0.9em;
    }
  }
}
div#solus, div#current {
  border: 1px solid grey;
  padding: 0.25em;
  margin-bottom: 0.5em;
  h5 {
    font-weight: bold;
  }
  &.red {
    border-color: red;
    h5 {
      color: red;
    }
  }
  &.purple {
    border-color: purple;
    h5 {
      color: purple;
    }
  }
  &.green {
    border-color: darkgreen;
    h5 {
      color: darkgreen;
    }
  }
}
body#welcome_controller {
  article {
    h3 {
      color: darkslategray;
    }
    h6 {
      font-size: 1.1em;
      color: darkslategray;
    }
    img {
      margin-bottom: 0.5em;
    }
    p, li {
      font-size: 0.9em;
    }
  }
}

footer {
  border: 1px solid darkslategrey;
  padding: 0.25em;
  margin-bottom: 0.5em;
  p {
    font-size: 0.7em;
    color: darkslategrey;
  }
}

div#menu {
  li {
    a {
      padding-left: 0.25em;
      padding-right: 0.25em;
      margin-right: -0.5em;
    }
    &:hover {
      a {
        background-color: greenyellow;
      }
    }
    &.active {
      a {
        background-color: yellow;
      }
    }
  }
}
ul#catalogue {
  li {
    margin-left: -0.5em;
    span.title {
      font-weight: bold;
      margin-left: -0.75em;
    }
    span.notes {
      color: darkslategray;
      font-size: 0.9em;
    }
    div.store-variant {
      border: 1px solid white;
    }
  }
}
ul#cart, ul#meal, ul.menu-item {
  font-size: 0.8em;
  clear: both;
  h1{
    font-size: 2em;
  }
  form, div, li.inline {
    display: inline;
  }
}
ul.menu-item {
 margin-left: 0;
}
ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}
.hidden {
  display: none
}
//div#tabs {
//  li.category-tab {
//    font-size: 0.8em;
//  }
//}
//
div.store-category.ui-tabs-panel {
  padding: 0.3em;
  .test {
    clear: both;
  }
}

div#side_menu {
  h1 {
    font-size: 1.2em;
    margin-bottom: 0em;
  }
}

ul#cart, ul#meal {
  li {
    padding: .2em;
    width: 100%;
    span.title {
      font-weight: bold;
    }
    //border: 1px solid #c0c0c0;
  }
  li:nth-child(even) {background: #e0eeee}
  li.category {
    span {
      font-size: 1.1em;
      font-weight: bold;
    }
  }
}

//.tabs.choices {
//  margin-right: 0.5rem;
//  dd > a {
//    padding-top: 0.5rem;
//    padding-right: 1rem;
//    padding-bottom: 0.5rem;
//    padding-left: 1rem;
//  }
//  &.food {
//    dd {
//      &:hover {
//        a {
//          background-color: greenyellow;
//        }
//      }
//      &.active {
//        a {
//          background-color: yellow;
//        }
//      }
//    }
//  }
//  &.drinks {
//    dd > a {
//      background-color: cornflowerblue;
//    }
//  }
//  &.catalogue {
//    dd > a {
//      background-color: mediumpurple;
//    }
//  }
//}

div.store-variant {
  margin-top: 0em;
  margin-left: 0em;
  margin-bottom: 0.8em;
  display: block;
  float: left;
  form, div {
    display: inline;
  }
  img {
    display: inline;
  }
}
div.catalogue_variant {
  margin-left: 100px;
  margin-top: 0.5em;
  margin-bottom: 0.8em;
  form, div {
    display: inline;
  }
}
form[method=get], form.inline {
  display: inline;
  div {
    display: inline;
  }
}

button.image, .button.image {
  padding: 0;
  border: none;
  margin: 0;
}
section#main {
  padding-top: 0.5em;
}
//div#navigation {
//  margin-top: 0.5em;
//}
ul#status li {
  font-size: 0.8em;
}
div#solus, div#current {
  h5 {
    font-size: 0.9em;
  }
  p {
    font-size: 0.8em;
  };
}
ul#contact {
  margin-left: 0;
  li {
    text-align: left;
    margin-bottom: 0;
    &.phone {
      font-weight: bold;
      font-size: 1.1em;
      color: darkred;
    }
    &.location {
      font-size: 0.9em;
    }
  }
}
p#contact {
  text-align: left;
  margin-bottom: 0;
  .columns {
    padding-left: 0;
  }
  span {
    text-align: left;
    margin-bottom: 0;
    &.phone {
      font-weight: bold;
      font-size: 1.1em;
      color: darkred;
    }
    &.location {
      font-size: 0.9em;
    }
  }
}
