$theme: #009900;//darkslategray;//#008cba;
$theme-secret: darken(mediumpurple, 20%);
$theme-gigiri: darken(royalblue, 20%);

$special: #3d5c2c;
$special-secret: darken(mediumpurple, 40%);
$special-gigiri: darken(royalblue, 40%);

//$shack-bg: red;
//$secret-bg: blueviolet;
//$gigiri-bg: darkturquoise;
// import the CSS framework
@import "foundation";

ul.menu-item {
  input[type="radio"] {
    margin:0;
  }
  input[type="radio"] + label {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    vertical-align: 0.1rem;
  }
  label.inline {
    padding: 0;
  }
}
ul.inline-list a.button:hover {
  background-color: $special; //#008cba;
}
a:hover {
  color: $special; //#008cba;
}
ul.inline-list a.button:hover {
  background-color: $special; //#008cba;
  color: white;
}

.has-tip {
  cursor: pointer;
  color: $special; //#008cba;
}

p {
  margin-bottom: 0.5em;
}

ul {
  &.inline-list {
    //  margin-top: rem-calc(6);
    margin-bottom: rem-calc(8);
    //margin-left: -0.8em;
    margin-right: rem-calc(0);
    a {
      font-size: rem-calc(15);
    }
    li {
      margin-left: rem-calc(10);
    }
  }
  &#menu {
    margin-bottom: 0.5em;
  }
}

div#menu {
  ul.inline-list {
    margin-left: -0.8em;
  }
}

div.columns ul#catalogue {
  margin-left: 0.3em;
  p {
    font-size: 0.9em;
  }
  ul.menu-item {
    li {
      padding-bottom: 0.25em;
      &.catalogue {
//        border: 1px solid darkgray;
      }
    }
    label {
      display: inline;
      vertical-align: 0.2rem;
    }
    section {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

div#navigation {
  .columns {
    padding-left: 0.3em;
  }
  .button {
    padding-right: 0.75em;
    padding-left: 0.75em;
  }
  ul.inline-list li {
    margin-left: 0.4em;
  }
}

body {
  a {
    color: $theme;
    &.button {
      font-weight: bold;
      &:hover {
        color: $special; //#008cba;
      }
    }
  }
  &.secret {
    a {
      color: $theme-secret;
      &.button {
        color: white;
        font-weight: bold;
        &:hover {
          background-color: $special-secret; //#008cba;
        }
      }
    }
  }
  &.gigiri {
    a {
      color: $theme-gigiri;
      &.button {
        color: white;
        font-weight: bold;
        &:hover {
          background-color: $special-gigiri; //#008cba;
        }
      }
    }
  }
}

div#aside.columns {
  padding: 0;
}
aside {
  a.button, input[type="text"] {
    margin-bottom: 0;
  }
  &#sidebar {
    ul {
      margin-left: 0.25em;
    }
    textarea {
      margin-bottom: 0.25em;
      padding: 0.2em;
    }
  }
}
.row .item section {
  margin-left: 0;
}

.side-nav {
  li a {
    color: white;
    margin-bottom: rem-calc(6);
  }
  .button.small {
    padding-top: 0.9em;
    padding-bottom: rem-calc(10);
  }
}

table.calendar {
  ul {
    margin-left: 0;
    margin-top: 0;
  }
}

// override for the 'Home' navigation link
//.top-bar {
// .name {
//    font-size: rem-calc(13);
//    line-height: 45px; }
//  .name a {
//    font-weight: normal;
//    color: white;
//    padding: 0 15px; }
//}
// THESE ARE EXAMPLES YOU CAN MODIFY
// create mixins using Foundation classes
@mixin twelve-columns {
  @extend .small-12;
  @extend .columns;
  }
@mixin six-columns-centered {
  @extend .small-6;
  @extend .columns;
  @extend .text-center;
  }
// create your own classes
// to make views framework-neutral
.column {
  @include six-columns-centered;
  }
.form {
  @include grid-column(6);
  }
.form-centered {
  @include six-columns-centered;
  }
.submit {
  @extend .button;
  @extend .radius;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @include twelve-columns;
  background-color: #eee;
  }
section {
  @extend .row;
  margin-top: 20px;
  }

@media print {
  table tbody tr td,  table tr td {
    padding: 0;
  }
}
body {
  font-family: Arial,Tahoma,"Bitstream Vera Sans",sans-serif; //'OpenSans-Regular', Arial, sans-serif;
  text-rendering: optimizeLegibility;
  color: #333;
}
