/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require ./framework_and_overrides
 */
@media screen, print {
  body {
    &#monitor {
      //      padding: 2em;
      .row {
        max-width: inherit;
      }
      ul#tabel {
//        width: inherit;
        margin: 0;
        background-color: #e0eeee;
        border: 1px solid darkslategray;
        li {
          list-style-type: none;
          padding: .2em 0 .2em .2em;
          font-size: 0.8em;
          span {
            &.title {
              clear: both;
            }
          }
          &:nth-child(even) {
            background: lightgrey;
          }
          &.category {
            line-height: 1.9em;
            font-weight: bold;
          }
          &.info {
            background-color: lightyellow;
            font-style: italic;
          }
          &.ready {
            &.category {
              color: white;
              background-color: red;
              span {
                font-weight: bold;
              }
            }
          }
          &.served {
            background-color: #d3d3d3;
            font-style: italic;
          }
          &.active {
            span {
              &.title {
                font-weight: bold;
              }
            }
            &:nth-child(even) {
              background: #d3d3d3;
            }
            &.category {
              color: white;
              background-color: green;
              span {
                font-weight: bold;
              }
            }
          }
        }
        h1 {
          font-size: 2em;
        }
        h6 {
          font-size: 0.9rem;
        }
        form, div, li.inline {
          display: inline;
        }
        p {
          font-size: 0.8em;
        }
      }
      span {
        &.head {
          font-weight: bold;
        }
      }
    }
  }
}
