.row.large-12
  .calendar
    - month = @daily_date.beginning_of_month
    = render partial: 'dailies/month', locals: {month: month, dailies: @dailies_by_date, timesheets: @timesheets_by_date, openings: @openings, bookings: @bookings, orders: @orders}

:coffeescript
  jQuery ->
    $('select#months').on "change", (event) ->
      $.ajax
        url: "/dailies?calendar=true#{ params[:no_content].present? ? '&no_content=true' : '' }&daily_date=" + event.target.value
        dataType: 'script'
    $('select#employees').on "change", (event) ->
      month = $('select#months option:selected').val()
      $.ajax
        url: "/timesheets?employee=" + event.target.value + "&month=" + month
        dataType: 'script'
    $('select#weeks').on "change", (event) ->
      week = $('select#weeks option:selected').val()
      $.ajax
        url: "/timesheets?week=" + event.target.value
        dataType: 'script'

