- unless flash[0] == nil
  - flash.each do |name, msg|
    - if msg.is_a?(String)
      %div#notice{:class => "alert-box round #{name == :notice ? "success" : "alert"}", "data-alert" => ""}
        = content_tag :div, msg
        %a.close{:href => "#"} &times;
- else
  - markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, :autolink => true, :space_after_headers => true)
  - page = Page.find_by_code('flash')
  - if page
    #flash.no-print
      = markdown(page.body)

-##notice{ style: "#{'display:none' unless flash[:notice]}" }
-#  = flash[:notice]